<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>

<key>UIPrerenderedIcon</key>
<true/>

<key>UndockedIconLabelStyle</key>
<string>
color: #ffffff;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
</string>

<key>DockedIconLabelStyle</key>
<string>
color: #ffffff;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
</string>

<key>CalendarIconDateStyle</key>
<string>
font-size: 34px;
font-weight: thin;
color: #ffffff;
position:absolute;
top: 4px;
text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.9);
</string>

<key>CalendarIconDayStyle</key>
<string>
position:absolute;
font-size: 10px; 
color: #ffffff;
position:absolute;
top: 2px;
text-align:center;
text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7);
</string>

</dict></plist>