<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>GKCentralCache</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>GKCentralCache</key>
		<dict>
			<key>Achievement</key>
			<data>
			Xx8SPtF/CuLdaNeAXdYsRzqO65oF1i7gc5okcXjjjPU=
			</data>
			<key>AchievementChallenge</key>
			<data>
			D07kVCKEGe7QHxxrLR9xbrG1d8l62WKy8MH1h8ceVpo=
			</data>
			<key>AchievementDescription</key>
			<data>
			YhQD6um+Vw2+lFrnLW7VF5Nv53cAN6XEQ7PUvgLV91o=
			</data>
			<key>AchievementDescriptionList</key>
			<data>
			sLtZ2RzZZnsbYLZPObzZYxapfXHy6PYcrLCdruVCKtY=
			</data>
			<key>AchievementIcon</key>
			<data>
			ZDhyj52R2/vGA5kzP3/73C9oFCzgs+F8KjxKq+Sj2to=
			</data>
			<key>AchievementList</key>
			<data>
			9fGnKSn4Q/9JotBBwGETFA6VpxMSVBcaVh3ByFpx5Js=
			</data>
			<key>AchievementPointsEntry</key>
			<data>
			FyeBsVrWUalVzOxciiqhBeVTsp6DitdBuL5glo7cUjY=
			</data>
			<key>AchievementPointsList</key>
			<data>
			ewqxKe1+Ndf2/VR89vyueldeZYaj2R8JIqlZnVL5a/Q=
			</data>
			<key>BadgeCount</key>
			<data>
			VPOLeprPV7FMkbvsTbBnKDoZeufvvUXRHqyo2Ry/bSw=
			</data>
			<key>Challenge</key>
			<data>
			7k4TenjtY7Qucw8V+UTROMJCB2oG4lBxOLU2HL0C8x8=
			</data>
			<key>ChallengeCompatibleBundleID</key>
			<data>
			geFWDRc26ykhA/cwQBfR+Bx7Luh+iUz1qnLRUFmJryI=
			</data>
			<key>ChallengeEvent</key>
			<data>
			7G/W5zatAlPnSfsKWNGm9Coxo3nWAxABHNHXMNdevDU=
			</data>
			<key>ChallengeList</key>
			<data>
			M5ICLZSPjIRuRKdP9XOtVJOfD/WSLLJAFfaQWo65Rh4=
			</data>
			<key>CompatibilityMatrixEntry</key>
			<data>
			ZbeXSUu00FtCNj9hkHhtqSEnBcK2XCPJ4T10i07ql9g=
			</data>
			<key>CompatibilityMatrixList</key>
			<data>
			LmyuPLGANJYv4hWzRKjpqrNn2P/1k2pNT3pWlYAMZ9k=
			</data>
			<key>CompatibilityMatrixVersion</key>
			<data>
			Q6BQ9IYNoMFO0QlnwxWkrjC+aNIMzK9lxVIKKX8gc/A=
			</data>
			<key>CompatiblePlayerEntry</key>
			<data>
			3eUHCKrl6pHjH5HyA0FvCEBHHNtEwxsuDeI4Uubo3Aw=
			</data>
			<key>CompatiblePlayerList</key>
			<data>
			C8dbQKJvFKDdkwUo0IliEGS/FCIwVm1aC2XrGU2NShg=
			</data>
			<key>DelayedAchievement</key>
			<data>
			+2iZMIIjUEhDEIGhG1SoxE+GvER9wyheEvTVZ8Xxpng=
			</data>
			<key>DelayedChallengeRequest</key>
			<data>
			n+JD6Bd/MhsVXZYtFMonFSNbeaDIZibt3Ta+HQ3V3xU=
			</data>
			<key>DelayedDeletePhoto</key>
			<data>
			kXBBk7Bu9PVR3XP1qEWV/SdDw4mVv6SXB8dNQHlsC7c=
			</data>
			<key>DelayedFriendRequest</key>
			<data>
			Axm6mFuyUqzClDEQK8acK9oXPVXWNuDs4pANZVcQm3Y=
			</data>
			<key>DelayedGameRemove</key>
			<data>
			hrdcY10LF6w+z7HgVcfL1s6L80qsM9LmJVJZPEtWnWA=
			</data>
			<key>DelayedPhoto</key>
			<data>
			W3fhCrzRJuaJ62vTBXX2MO59kxqlXLscgGOgpZdwQIo=
			</data>
			<key>DelayedRating</key>
			<data>
			wGYKQN0Bl/h4oCYu2aSIDPRJo1/InHxy43lNPk6qEc8=
			</data>
			<key>DelayedRequest</key>
			<data>
			YP9tz3+ctyWcK4qJR9A/WSNAOW+k6/kIA7DoOGuI9SM=
			</data>
			<key>DelayedScore</key>
			<data>
			PfIGKkIMdZyzTyu3jd5O66ZN6EBMa1sI5sN7ImqMt40=
			</data>
			<key>DelayedStatus</key>
			<data>
			02VKwI5ovZJj4NkecQxfZXQodThs6Au5jOdT6c0fzv0=
			</data>
			<key>FlowRate</key>
			<data>
			q4TX/6qjw+hbwnPf8ET/IRbx50ypS+kSimM8tmUV9Qg=
			</data>
			<key>FriendEntry</key>
			<data>
			ZEA/0qV4H/ofLrX7cU3PlBDRTSDQhYiykH5Z9EdhRc0=
			</data>
			<key>FriendList</key>
			<data>
			g0MZvr5UD2gjkZccH8LDHy9RABrFw/bYmYhsI0g4X4c=
			</data>
			<key>FriendRecommendationEntry</key>
			<data>
			zyOnmDwU3hJfJH/Bikfd4/j7V+urDedWAoeoWPm/tl0=
			</data>
			<key>FriendRecommendationList</key>
			<data>
			xgZG/v/TqBAy5rkfmXcin/zNe4WGk5kA0My0qUPYxY0=
			</data>
			<key>FriendRequestEntry</key>
			<data>
			OEcOAQ9yyerz9yitjweAzMmO81wzy1fe8ylyiarYXhg=
			</data>
			<key>FriendRequestList</key>
			<data>
			5DNEPuc8Tn6mUPEgngmivkOAyb/fzs8C3Ne8s70u928=
			</data>
			<key>Game</key>
			<data>
			3N3YXZn8ej9gJ01sTpDzPsrTfNeukhhNCl6vBBC+hu0=
			</data>
			<key>GameEntry</key>
			<data>
			i1IvALYQewftJdawnZW0m0Hni9aUMZ0Ly3+RhbAE62s=
			</data>
			<key>GameIcon</key>
			<data>
			LJwkQ+uxPyia6yXZdKffFpIORuGmET+s+GYesLKDAlg=
			</data>
			<key>GameList</key>
			<data>
			C1Iklln/HGHcD1spAbJPwwLLcPVYa5cxAp44RPO94Mw=
			</data>
			<key>GameRating</key>
			<data>
			cJUh7ZsYoclpPQAB0iicZpw07rA+f/TkytZ4KMoJlTA=
			</data>
			<key>GameRecommendationEntry</key>
			<data>
			jKDZhAadqbGsSpTH8xJVjabfSBBi6d6YGG/+HJt1EZk=
			</data>
			<key>GameRecommendationList</key>
			<data>
			zXarMsLIhd4m2nAXbXNhlXdDqqwaF+4/WpjJ3HUuBUI=
			</data>
			<key>GameRecord</key>
			<data>
			dRDpZ7JxOok4MkqMb5uHpxe5Z324K3FMiJ8SXvqluqw=
			</data>
			<key>ImageURL</key>
			<data>
			4whLnmHE9BpvHa+ug/CUx4UzEJeyaxp/QO16nnkNqOU=
			</data>
			<key>Invite</key>
			<data>
			OKoO+Lb69dg6fKzVd54JZOEypyrX6RU76DubIPZJtwk=
			</data>
			<key>Leaderboard</key>
			<data>
			TzsERXlRVcLhR7j+H7JwXvm0HQPuM1iu5ziaV1OwGqs=
			</data>
			<key>LeaderboardCategory</key>
			<data>
			qRondBGtdUN+4sgOFjc12RV3PxheB5/yVtJ5/cmxeuI=
			</data>
			<key>LeaderboardCategoryIcon</key>
			<data>
			mEM0BP4IuLbyoYXLCsw5GGqNNaWEsAYD35ApAcHyQOw=
			</data>
			<key>LeaderboardCategoryList</key>
			<data>
			7sdf1dEMHI016vviml0pEN0rTxxl71/q/gm1L3NDfCA=
			</data>
			<key>LeaderboardRange</key>
			<data>
			RhjKLlgAiMIvgO3g0EOA60A4JEx6c8onxOk0zjUH0hI=
			</data>
			<key>Localization</key>
			<data>
			UUDxB/3pww0qDfyTm/PkOjE71x/Ozw5R+9ZaHYust6U=
			</data>
			<key>PhotoImage</key>
			<data>
			8I/jwgkpODzYPLYALBwomRX/frcFSDHRkw2zOyozo74=
			</data>
			<key>PlayerEmail</key>
			<data>
			Xl3q8aCfyPUI+PKplJs5QOPnFkK+dVJ0Qdda9HSLWxU=
			</data>
			<key>PlayerEntry</key>
			<data>
			8rxjRLx50xJ4pl4EnoCvXbFhhXKk0xN19LhYo1Pq+p4=
			</data>
			<key>PlayerList</key>
			<data>
			dY+rGWjf2e7VXIVRQXJQ0HbdCoTWoJ2srm8KcX71VBs=
			</data>
			<key>PlayerProfile</key>
			<data>
			s/f5HGXG9BSko9jxpf6ABo2AkHRbed3Vqag2pnlss3Q=
			</data>
			<key>PlayerToInvite</key>
			<data>
			u8+5EShW5uS1ru95kX0vDZlIARomY92UPfNR1OpBdIQ=
			</data>
			<key>RecentMatch</key>
			<data>
			2h0XuM2O8iL9gnu5Vgl01eqojHOLZAB4e758v5YblYQ=
			</data>
			<key>RecentMatchEntry</key>
			<data>
			EWguvaNvvNa7jO50/HozQWCwGCY0WcgNo/YYdAngiKw=
			</data>
			<key>RecentMatchList</key>
			<data>
			fT5xb53BKuzuYDmKt/hF/VgN+hdsrvT5BmIz+6IusrU=
			</data>
			<key>Score</key>
			<data>
			PmYdtGKNHu7CL747hyRvjzpPaYgsvw5XIMpDHJ09Dzo=
			</data>
			<key>ScoreChallenge</key>
			<data>
			H61ykqWbo/8oq42QZuXlQZFftd57MGNwuTJMCcAGvp8=
			</data>
			<key>StoreItem</key>
			<data>
			YG4IjB/n03bPJFoliUQdkm/bccMLUtd6JaEow3lZ23Q=
			</data>
			<key>TopGamesIcon</key>
			<data>
			jSnyhyV4DSRy4wDqHLRm17+I13VeU26Q3IQFDjpcVzA=
			</data>
			<key>TopGamesList</key>
			<data>
			v2oO/yEyaFAAmeVmd843r7jCH300qKx3LJRxV/qzEIE=
			</data>
			<key>TopGamesListEntry</key>
			<data>
			aRtuWaLFzEgqejDQkXbdHrfb3HBcOXJ+BcKnQVonJfg=
			</data>
			<key>TurnBasedParticipant</key>
			<data>
			s1aEKYgf3aoPDrycCtG5YKz2X4WDgKBYNVAbtoMv4qU=
			</data>
			<key>TurnBasedSession</key>
			<data>
			5soc6j15W81uYQ0Ebx30GMFjEknFkYeww2NGbXBf4jA=
			</data>
			<key>TurnBasedSessionEntry</key>
			<data>
			A7fMFufQacYshNj/8kC9JUjdo/gSBUHof3o96GvINqE=
			</data>
			<key>TurnBasedSessionList</key>
			<data>
			drBF096D1JP3Ch1zUJPiNuzXh0DHiCDxOaxfAoF+71c=
			</data>
		</dict>
	</dict>
</dict>
</plist>
