<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>weibodModel2</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>weibodModel</key>
		<dict>
			<key>Permission</key>
			<data>
			1ZHI5i4q16uIGcdfejpY3QOKL8sSyPRt50X/zl80V50=
			</data>
			<key>UserRecord</key>
			<data>
			2wIRq/4VhJ6OPiijXVgJnCAlyTdvxtK8hfZpAgUvQro=
			</data>
		</dict>
		<key>weibodModel2</key>
		<dict>
			<key>UserRecord</key>
			<data>
			2wIRq/4VhJ6OPiijXVgJnCAlyTdvxtK8hfZpAgUvQro=
			</data>
		</dict>
	</dict>
</dict>
</plist>
